.footer_pos {
	@include wh(100%, 70px);
	position: fixed;
	bottom: 0;
	z-index: 40;
}
footer {
	&#footerWrap {
		width: 100%;
		min-height: 350px;
		@include bg($footer_color);
		position: relative;
		bottom: 0;
		z-index: 99;
	}

	@include atRoot {
/*========================================================================*\
		>>	sitemap
\*========================================================================*/
%footerSection2 {
	padding-top: 2em;
}
	.sitemap {
		width: 69%;
		@extend %footerSection2;
		.col {
			width: 20%;
			float: left;
		}
	}
	.sitemap-seg {
		padding: 0 18px 0 0;
		h2 {
			/*font*/
			color: #bebebe;
			font-size: $fz-L;
			font-family: $ff-Verdana;
			font-weight: normal;
			text-align: left;
		}
		li {
			border-bottom: 1px solid $color1;
			float: none;
			@include transition(all 0.3s cubic-bezier(0.4, 0, .2, 1));
		}
		a {
			padding: 0 5px;
			color: #fff;
			font-size: $fz-N;
			line-height: 2.8;
			letter-spacing: 1px;
			@include transition(all 0.3s cubic-bezier(0.4, 0, .2, 1));
			&:hover {
				color: $normal_color;
			}
		}
	}
	.storefront {
		width: 30%;
		@extend %footerSection2;
		.address {
			@include wh(100%, 24px);
			@include bg(#fff);
			@include border-radius(5px);
			@include box-shadow(inset 0px 0px 5px 1px rgba(0, 0, 0, 0.6));
			margin-top: 1.5em;
			/*font*/
			color: $footer_color;
			font-size: $fz-N;
			font-weight: bolder;
			line-height: 1.8;
			letter-spacing: 2px;
			text-align: center;
		}
		.phone {
			margin-top: 0.5em;
			a {
				@include wh(246px, 37px);
				@include bg('iconTxt.png', -175px);
				display: block;
				margin: 0 auto;
			}
		}
	}
	};
}
.footer_logo {
	@include wh(330px, 82px);
}


