.links {
	&-container {
		ul {
			width: 100%;
		}
		.links-block {
			width: 24%;
			height: auto;
			margin: 0 0.2em 0.5em;
		}
	}
	&-block {
		.pic {
			width: 100%;
			min-width: 255px;
			min-height: 180px;
		}
		a {
			color: $footer_color;
			font-size: $fz-N;
			text-align: center;
		}
	}
}