/*========================================================================*\
		>>	contact page    contact1    contact2
\*========================================================================*/
.contact1, .contact2, .service {
	p {
		color: #555;
		font-size: $fz-N;
		text-align: center;
		letter-spacing: 1px;
	}
}
.contact2 form {
	width: 70%;
	margin: 0 auto;
}
form {
	&.contact-from {
		label {
			height: 100%;
			display: inline-block;
			top: 0;
			font-size: $fz-L;
		}
		input[type="radio"] {
			@include wh(20px);
			position: relative;
			top: 30%;
			left: 0;
		}
	}
	ul {
		border: 1px solid $Grey_color5;
		margin-bottom: 1em;
	}
	li {
		height: 44px;
		border-top: 1px solid $Grey_color5;
		position: relative;
		float: none;
		&:first-of-type {
			border-top: none;
		}
		span {
			padding: 0 10px;
			line-height: 44px;
			&.txt2 {
				padding: 0 10px;
			}
		}
		&.msg {
			height: 120px;
		}
	}
	input {
		width: 25%;
		position: relative;
		top: 0.5em;
		margin-left: 1%;
		&.inp-name {
			margin-right: 5%;
		}
		&.inp-age {
			width: 80px;
			margin-right: 15%;
		}
		&.inp-sex {
			margin-left: 1%;
		}
		&.inp-2 {
			width: 60%;
		}
		&.inp-3 {
			width: 85%;
		}
	}
	textarea {
		height: 85%;
		position: relative;
		top: 0.5em;
		margin-left: 1%;
		resize: none;
		&.inp-3 {
			width: 85%;
		}
	}
}
/*========================================================================*\
		>>	contact page    service
\*========================================================================*/
.service {
	h2[class*="title"] {
		border-bottom: 1px solid $Grey_color6;
		padding: 0;
		margin-bottom: 15px;
		span {
			height: 46px;
			@include bg('iconTxt.png');
			margin: 15px auto;
		}
	}
	h2 {
		&.title2 {
			span {
				width: 252px;
				@include bg(0, -266px);
			}
		}
		&.title3 {
			span {
				width: 191px;
				@include bg(0, -332px);
			}
		}
	}
	section {
		margin-bottom: 3em;
	}
	p {
		font-size: $fz-L;
	}
	a {
		color: #555;
	}
}
